	<!DOCTYPE html>
	<html lang="en" xmlns:th="http://www.thymeleaf.org">


	<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>Remita | Payment</title>
	<!-- plugins:css -->
	<link rel="stylesheet"
		href="vendors/iconfonts/simple-line-icon/css/simple-line-icons.css" />
	<link rel="stylesheet"
		href="vendors/iconfonts/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" href="vendors/css/vendor.bundle.base.css" />
	<link rel="stylesheet" href="vendors/css/vendor.bundle.addons.css" />
	<link rel="stylesheet" type="text/css" href="font.css" />
	<!-- endinject -->
	<!-- plugin css for this page -->
	<!-- End plugin css for this page -->
	<!-- inject:css -->
	<link rel="stylesheet" href="css/style.css" />
	<!-- endinject -->
	<link rel="shortcut icon"
		href="assets/img/faviconbranding.ico" />
	<style >
	@font-face {
		font-family: FedraSansStdLight;
		src: url(font/FedraSansStd-LightLF.otf);
	}

	html, body, h1, h2, h3, h4, h5, h6, p {
		font-family: inherit;
		font-weight: 400;
		line-height: 1.71429;
	}

	body {
		background: #fff;
		color: #6a6d71;
		font-family: 'FedraSansStdLight';
		font-weight: normal;
		color: #000000;
		height: 100%;
	}
	</style>
	</head>

	<body>
		<div class="container-scroller">
			<!-- partial:partials/_horizontal-navbar.html -->
			<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
		         <div class="nav-top flex-grow-1" style="height: 100px; background-color: #000000; height: 110px;">
        <div class="container d-flex flex-row h-100">
          <div class="row">
            <div class="col-lg-10 mx-auto" style="margin-top: 35px;"><h1 style="color: #fff;"> REMITA<span style="color: #000000;">CORONATION MERCHANTMERCHANT BANK</span></h1>
            </div>
            <div class="col-lg-2 mx-auto">
               <a class="navbar-brand brand-logo" href="index.html"><img src="https://mware.coronationmb.com/bidding/img/img-branding/cmb-logo-white.png" alt="logo"/></a>
            </div>
          </div>
        </div>
      </div>
           <input type="hidden" name="statusCode" id="statusCode" th:value="${modal}" />
			<input type="hidden" name="rescode" id="rescode" th:value="${rescode}" />
     		<input type="hidden" name="resmsg" id="resmsg" th:value="${resmsg}" />
     		<input type="hidden" name="requestx" id="requestx" th:value="${requestx}" />
     		<input type="hidden" name="rrno" id="rrno" th:value="${rrno}" />
     		<input type="hidden" name="amtdue" id="amtdue" th:value="${amtdue}" />
     		<input type="hidden" name="username" id="username" th:value="${session.username}" />
     		<input type="hidden" name="debittedAcct" id="debittedAcct" th:value="${debittedAccount}" />
      <div class="row" th:if="${rrrdetail != null}">

      	<div class="row" th:each="detail,iterationStatus  : ${rrrdetail.responseData}">
       <input type="hidden" name="respcode" id="respcode"   th:value="${detail.rrr}" />
				</div>
				</div>
				<div class="nav-bottom" >
				<div class="container">
					<ul class="nav page-navigation" style="color: #000; font-weight: bold;">
						<li class="nav-item"><a href="/payment-portal/homeRemita" class="nav-link" >Dashboard</a></li>
						     <li class="nav-item">
				              <a href="#" class="nav-link"><span class="menu-title">Initiate Payment</span><i class="menu-arrow"></i></a>
				              <div class="submenu">
				                <ul class="submenu-item">
				                  <li class="nav-item"><a class="nav-link" href="/payment-portal/homeRemitaNORRR">Payment with RRR</a></li>
				                  <li class="nav-item"><a class="nav-link" href="/payment-portal/homeRemitaRRR">Payment without RRR</a></li>
				                </ul>
				              </div>
				            </li>
							<li class="nav-item"><a href="/payment-portal/bankCode"
							class="nav-link" style="color: #FFF;">Bank Code</a></li>
							<li class="nav-item"><a href="#"
							class="nav-link" style="color: #FFF;">Bank Code</a></li>
							<li class="nav-item"><a href="#"
							class="nav-link" style="color: #FFF;">Bank Code</a></li>
							<li class="nav-item"><a href="#"
							class="nav-link" style="color: #FFF;">Bank Code</a></li>
							<li class="nav-item"><a href="#"
							class="nav-link" style="color: #FFF;">Bank Code</a></li>
							<li class="nav-item"><a href="#"
							class="nav-link" style="color: #FFF;">Bank Code</a></li>
						<li class="nav-item"><a href="#"
							class="nav-link" style="color: #FFF;">Bank Code</a></li>

							<li class="nav-item"><a href="/payment-portal/logout"
							class="nav-link" style="color: #000;">Logout <i class="icon-power"></i></a></li>

					</ul>
				</div>
			</div>
			</nav>


			<!-- partial -->
				<div class="container-fluid page-body-wrapper"><br/>
				  <div class="main-panel">
			        <div class="content-wrapper">
				          <div class="row">
				            <div class="col-md-2 grid-margin stretch-card"></div>
				            <div class="col-md-8 grid-margin stretch-card">
				              <div class="card">
				                <div class="card-body">
				                <div id="feedback" style="color:red"></div>
				                  <h4 class="card-title" style="font-weight: bold;">Payments To Remita Billers with RRR</h4>

				                  <form class="forms-sample" th:action="@{/remitaWithRRR}" method="post" >
				                    <div class="col">
			                            <div class="form-group">
			                              <label  class="col-form-label">Enter RRR<span style="color: #ff0000;">*</span> </label> <input type="text" class="form-control" name="rrr" id="rrr" placeholder="RRR"/>
			                            	 <input type="hidden" name="userxx" id="userxx" th:value="${session.username}" />
			                            </div>
	                            	</div>
				                    <!--   <button type="button" id="proceedbtn" class="btn btn-primary mr-2" data-toggle="modal" data-target="#exampleModal-4">Proceed</button>  -->

				                     <button type="submit" value="submit"
								class="btn btn-primary mr-2"
								style="background-color: #000000; color: #fff;">Proceed</button>
				                  </form>
				                </div>
				              </div>
				            </div>
				            <div class="col-md-2 grid-margin stretch-card"></div>
				         </div>

			          </div>
			          <div th:if="${rescode == '00'}">

				        <!-- -->

				              <div class="row">
				          <div class="col-md-12 grid-margin stretch-card">
				         <div class="modal fade" name="exampleModal-4" id="exampleModal-4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-4" aria-hidden="true" >
	                   <div class="modal-dialog" role="document" >
	                      <div class="modal-content">
	                        <div class="modal-header">
	                          <h5  id="exampleModalLabel-4">CORONATION MERCHANT BANK PAYMENT CONFIRMATION</h5>
	                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                            <span aria-hidden="true" id="close">&times;</span>
	                          </button>
	                        </div>
	                        <div class="modal-body" >
	                        <form class="forms-sample" th:action="@{/remitaPayInitiate}" method="post">
	                        <div class="modal-body" >


				                  <div class="forms-sample" th:each="detail,iterationStatus  : ${rrrdetail.responseData}" >
				                    <div class="form-group row">
				                      <label  class="col-sm-5 col-form-label">RRR</label>
				                       <input type="hidden" name="rr" id="rr" />
				                     <!--  <input type="hidden" name="debittedAccount" id="debittedAccount" th:value="${debittedAccount}" />  -->
				                       <input type="hidden" name="accttDebitted" id="accttDebitted" th:value="${debittedAccount}" />
				                      <div class="col-sm-7" id="rrd" > <span  id="rrs" th:text="${detail.rrr}"></span> </div>
				                    </div>
				                    <div class="form-group row">
				                      <label  class="col-sm-5 col-form-label">Payers Name</label>
				                      <div class="col-sm-7" id="payername" > <span th:text="${detail.payerName}"></span></div>
				                    </div>
				                    <div class="form-group row">
				                      <label  class="col-sm-5 col-form-label">Payers Email<span style="color: #ff0000;">*</span></label>
				                      <div class="col-sm-7" id="payeremail" > <span th:text="${detail.payerEmail}"></span></div>
				                    </div>
				                    <div class="form-group row">
				                      <label  class="col-sm-5 col-form-label">Payers Phone<span style="color: #ff0000;">*</span></label>
				                      <div class="col-sm-7" > <span th:text="${detail.payerPhone}"></span></div>
				                    </div>
				                    <div class="form-group row">
				                      <label  class="col-sm-5 col-form-label">Amount Due<span style="color: #ff0000;">*</span></label>
				                      <div class="col-sm-7" > <span  id="amt" th:text="${detail.amountDue}"></span></div>

				                      <input type="hidden" class="col-sm-" name="amountDebitted" id="amountDebitted" th:value="${detail.amountDue}" />
				                    </div>

				                      <div class="form-group row">
				                      <label  class="col-sm-5 col-form-label">Enter debit account<span style="color: #ff0000;">*</span></label>
				                      <div class="col-sm-7" > <input type="text" class="col-sm-" name="debittedAccount" id="debittedAccount" placeholder="Enter Debit Account"/></div>
				                    </div>

				                     <div class="form-group row">
				                      <label  class="col-sm-5 col-form-label">Enter your token<span style="color: #ff0000;">*</span></label>
				                      <div class="col-sm-7" > <input type="text" class="col-sm-" name="token" id="token" placeholder="Enter your token"/></div>
				                    </div>
				                    <input type="hidden" name="userx" id="userx" th:value="${session.username}" />

				                    </div>
				                <!--  </form>  -->
	                        </div>
	                        <div class="modal-footer">
	                        <!--   <button type="button" class="btn btn-success">Proceed</button>  -->
	                            <button type="submit" value="submit"
								class="btn btn-success"
								style="background-color: #000000; color: #fff;">Proceed</button>

	                          <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
	                        </div>
	                        </form>
	                       </div>
	                      </div>
	                    </div>
	                  </div>
				            </div>
				         </div>


				       <!--   -->

			          </div>
	        		</div>
	   			 </div>
	       <footer class="footer">
          <div class="w-100 clearfix"><center><span class=" d-block text-center text-sm-left d-sm-inline-block">Copyright © Coronation Merchant Bank. All rights reserved.</span></center>

          </div>
        </footer>
		</div>
		<!-- container-scroller -->

		<!-- plugins:js -->
		<script src="vendors/js/vendor.bundle.base.js"></script>
		<script src="vendors/js/vendor.bundle.addons.js"></script>
		<!-- endinject -->
		<!-- Plugin js for this page-->
		<!-- End plugin js for this page-->
		<!-- inject:js -->
		<script src="js/template.js"></script>
		<!-- endinject -->
		<!-- Custom js for this page-->
		<script src="js/dashboard.js"></script>
		<script src="js/todolist.js"></script>
		<script src="js/data-table.js"></script>
		<script src="js/modal-demo.js"></script>
		<script src="js/remita2-ajax.js"></script>
		<!-- End custom js for this page-->

		<script type="text/javascript">
		$(document).ready(function() {
			var span = document.getElementById("close");

			/*
			var statusCode = $('#statusCode').val();
			var respcode = $('#respcode').val();
			var rescodes = $('#rescode').val();
			var resmsgs= $('#resmsg').val();
			var rra = $('#rrs').text();
			//$('#rr').val(rra);
		//	var ss=$('#rr').val();
			//console.log("rr is: ",ss)
			document.getElementById('rrr').value=rra;
			var rrx = $('#amt').text();
			$('#amountDebitted').val(rrx)


			//alert(rra);
			//alert(rrx);
		//	var rra = $('#rrs').text();
		//	document.getElementById('rrr').value=rra;
			//console.log("statusCode==", statusCode);
			//var modal = document.getElementById('modalLoginAvatarDemo');
			var modal = document.getElementById('exampleModal-4');
			if (statusCode == 'Y') {
				console.log("inside statusCode==", statusCode);
				console.log("inside respcode==", respcode);
				if (rescodes == '00') {
					$("#exampleModal-4").modal("show");
				}else{
					var json = "<h6> RRR :" + resmsgs	+ "</h6>";
			$('#feedback').html(json);

			console.log("ERROR : ", e);
				}

				//modal.style.display = "block";
			}
			span.onclick = function(event) {
				// if (event.target == modal) {
				modal.style.display = "none";
				// }
			}

			$("#debittedAccount").change(function(event) {
				var rra = $('#rrs').text();
				$('#rr').val(rra);
				var ss=$('#rr').val();
				console.log("rr is: ",ss)
				//document.getElementById('rrr').value=rra;
				var rrx = $('#amt').text();
				$('#amountDebitted').val(rrx)
				console.log("amount is: ",rrx)
			});

			*/
			//***********************************
			var respcode = $('#respcode').val();
			var statusCode = $('#statusCode').val();  // rescode
			var rescode = $('#rescode').val();
			var requestx = $('#requestx').val();
			var username = $('#userxx').val();
			//var debacct = $('#debittedAcct').val();
			var rrno = $('#rrs').text();
			var amtdue = $('#amt').text();
			//console.log("requestx==", requestx);
			console.log("rrr==", rrno);
			console.log("user==", username);
		//	$('#amountDebitted').val(amtdue);
		//	$('#user').val(usrname);
		//	$('#debittedAccount').val(debacct);

			$('#rr').val(rrno);
			//console.log("statusCode==", statusCode);
			//var modal = document.getElementById('modalLoginAvatarDemo');
			var modal = document.getElementById('exampleModal-4');
			if (statusCode == 'Y') {
				console.log("inside statusCode==", statusCode);

				if (rescode == "00") {

				$("#exampleModal-4").modal("show");
				$('#amountDebitted').val(amtdue);
				$('#rr').val(rrno);
				$('#userx').val(username);
				//$('#debittedAccount').val(debacct);

				}else{
					var p = "<h4>Error generating RRR </h4>";
					$('#feedback').html(p);
				}
			}


		});
	</script>

	</body>


	</html>
