<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">


<head>
<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>PAYMENT-PORTAL</title>
<!-- plugins:css -->
<link rel="stylesheet"
	href="vendors/iconfonts/simple-line-icon/css/simple-line-icons.css" />
<link rel="stylesheet" href="vendors/css/vendor.bundle.base.css" />
<link rel="stylesheet" href="vendors/css/vendor.bundle.addons.css" />
<!-- endinject -->
<!-- plugin css for this page -->
<!-- End plugin css for this page -->
<!-- inject:css -->
<link rel="stylesheet" href="css/style.css" />
<!-- endinject -->
<link rel="shortcut icon" href="assets/img/faviconbranding.ico" />
<style type="text/css">
@font-face {
	font-family: FedraSansStdLight;
	src: url(font/FedraSansStd-LightLF.otf);
}

html, body, h1, h2, h3, h4, h5, h6, p {
	font-family: inherit;
	font-weight: 400;
	line-height: 1.71429;
}

body {
	background: #fff;
	color: #6a6d71;
	font-family: 'FedraSansStdLight';
	font-weight: normal;
	color: #000000;
	height: 100%;
}
</style>
</head>

<body style="background-color: #000000;">
	<div class="container-scroller">
		<div class="container-fluid page-body-wrapper full-page-wrapper">
			<div
				class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
				<div class="row w-100 mx-auto">
					<div class="col-lg-12 mx-auto">
						<CENTER>
							<h1 style="color: #fff;">CORONATION MERCHANT BANK PAYMENT PLATFORM</h1>
						</CENTER>
						<br></br>
					</div>
					<div class="col-lg-4 mx-auto">
						<div class="auto-form-wrapper">

							<form th:action="@{/}" th:object="${user}" method="post"
								id="outwardnaps-form" autocomplete="on">
								<center>
									<img src="https://www.coronationmb.com/img/CMB_logo.svg"
										style="width: 181; height: 80px;" />
									<!-- <img src="images/logo-expand.png" /> -->
								</center>
								<div th:if="${user} != null">
								<input type="hidden" name="status" id="statusCode"
									th:value="${user.statusId}" />
								</div>

								<div th:if="${errorMessage} != null">
									<p style="text-align: center; color: red" th:text="${errorMessage}">
										<font size="4"></font>
									</p>
								</div>
								<div class="form-group">
									<label class="label">Username</label>
									<div class="input-group">
										<input type="email" class="form-control" placeholder="Email"
											name="userName" id="form3" />
										<div class="input-group-append">
											<span class="input-group-text"><i class="icon-check"></i></span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="label">Password</label>
									<div class="input-group">
										<input type="password" class="form-control"
											placeholder="*********" name="password" id="form4" />
										<div class="input-group-append">
											<span class="input-group-text"><i class="icon-check"></i></span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<button class="btn  submit-btn btn-block"
										style="background-color: #000000; color: #fff;">Login</button>
								</div>
								<!-- <div class="form-group d-flex justify-content-between">
                  <a href="#" class="text-small forgot-password text-black">Forgot Password</a>
                </div> -->
							</form>
						</div>
						<ul class="auth-footer">
							<li><a href="#">Conditions</a></li>
							<li><a href="#">Help</a></li>
							<li><a href="#">Terms</a></li>
						</ul>
						<p class="footer-text text-center">copyright © 2018 Coronation
							Merchant Bank. All rights reserved.</p>
					</div>
				</div>
			</div>
			<!-- content-wrapper ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>

	<!-- Main navigation -->
	<!--Main Layout-->
	<main> <!--Modal Form Login with Avatar Demo-->
	<div id="myModal" class="modal fade modal-backdrop show" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog cascading-modal modal-avatar modal-sm"
			role="document" style="margin-top: 200px;">
			<!--Content-->
			<div class="modal-content"
				style="border-radius: 8px; background-color: #fff;">

				<a href="" class="close-modal"><span id="close">&times;</span></a>
				<!--Body-->
				<div class="modal-body text-center mb-1">

					<form th:action="@{/loginDetail}" method="post" th:object="${user}"
						autocomplete="off">
						<div th:if="${user} != null">
						<input name="_" type="hidden" value="" /> <input type="hidden"
							name="userName" id="userId" th:value="${user.userName}" /><input
							type="hidden" name="password" id="password"
							th:value="${user.password}" />

						<h5 class="mt-1 mb-2">Enter your Token</h5>

						<div th:if="${user.tokenRespMessage} != null">
							<p style="text-align: center;" th:text="${user.tokenRespMessage}">
								<font size="4"></font>
							</p>
						</div>
						</div>
						<div class="md-form ml-0 mr-0">
							<input type="text" name="token" id="token" required="required"
								class="form-control ml-0" /> <label for="token" class="ml-0">Enter
								Token</label>
						</div>

						<div class="text-center mt-4">
							<button type="submit" value="submit"
								class="btn  submit-btn btn-block"
								style="background-color: #000000; color: #fff;">Login</button>
						</div>
					</form>
				</div>

			</div>
			<!--/.Content-->
		</div>
	</div>
	<!--Modal Form Login with Avatar Demo--> </main>
	<!--Main Layout-->

	<!-- container-scroller -->
	<!-- plugins:js -->
	<script src="vendors/js/vendor.bundle.base.js"></script>
	<script src="vendors/js/vendor.bundle.addons.js"></script>
	<!-- endinject -->
	<!-- inject:js -->
	<script src="js/template.js"></script>
	<!-- endinject -->
	<script type="text/javascript">
		$(document).ready(function() {
			var span = document.getElementById("close");
			var statusCode = $('#statusCode').val();
			console.log("statusCode==", statusCode);
			//var modal = document.getElementById('modalLoginAvatarDemo');
			var modal = document.getElementById('myModal');
			if (statusCode == 'A') {
				console.log("inside statusCode==", statusCode);
				modal.style.display = "block";
			}

			$('#form3').change(function(event) {
				var userId = $('#form3').val();
				console.log("userId==", userId);
				$('#userId').val(userId);

			});

			$('#form4').change(function(event) {
				var pwd = $('#form4').val();
				console.log("pwd==", pwd);
				$('#password').val(pwd);

			});

			span.onclick = function(event) {
				// if (event.target == modal) {
				modal.style.display = "none";
				// }
			}

		});
	</script>
</body>


</html>
