<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>Bulk Transfer | Upload</title>
<!-- plugins:css -->
<link rel="stylesheet"
  href="../vendors/iconfonts/simple-line-icon/css/simple-line-icons.css" />
<link rel="stylesheet" href="../vendors/css/vendor.bundle.base.css" />
<link rel="stylesheet" href="../vendors/css/vendor.bundle.addons.css" />
<!-- endinject -->
<!-- plugin css for this page -->
<!-- End plugin css for this page -->
<!-- inject:css -->
<link rel="stylesheet" href="../css/style.css" />
<!-- endinject -->
<link rel="shortcut icon" href="../assets/img/faviconbranding.ico" />
<style type="text/css">
@font-face {
  font-family: FedraSansStdLight;
  src: url(font/FedraSansStd-LightLF.otf);
}

html, body, h1, h2, h3, h4, h5, h6, p {
  font-family: inherit;
  font-weight: 400;
  line-height: 1.71429;
}

body {
  background: #fff;
  color: #6a6d71;
  font-family: 'FedraSansStdLight';
  font-weight: normal;
  color: #000000;
  height: 100%;
}
</style>
</head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_horizontal-navbar.html -->
    <nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
        <div class="nav-top flex-grow-1" style="height: 100px; background-color: #000000; height: 110px;">
        <div class="container d-flex flex-row h-100">
          <div class="row">
            <div class="col-lg-10 mx-auto" style="margin-top: 35px;"><h1 style="color: #fff;">CORONATION MERCHANT BANK NEFT BULK PAYMENT </h1>
            </div>
            <div class="col-lg-2 mx-auto">
               <a class="navbar-brand brand-logo" href="index.html"><img src="https://mware.coronationmb.com/bidding/img/img-branding/cmb-logo-white.png" alt="logo"/></a>
            </div>
          </div>
        </div>
      </div>

      <div class="nav-bottom" style="background-color: #eaeaea;">
        <div class="container">
          <ul class="nav" style="color: #000; font-weight: bold;">
            <li class="nav-item"><a href="/payment-portal/neft/home"
              class="nav-link" style="color: #000;">Dashboard</a></li>
            <li class="nav-item"><a href="/payment-portal/neft/bulkUpload"
              class="nav-link" style="color: #000;">Bulk Upload</a></li>
            <li class="nav-item"><a href="/payment-portal/neft/bankCode"
              class="nav-link" style="color: #000;">Bank Code</a></li>
			<li class="nav-item"><a href="/payment-portal/homeDashboard"
				class="nav-link" style="color: #000;">Switch Platform </a></li>
              <li class="nav-item"><a href="/payment-portal/logout"
              class="nav-link" style="color: #000; padding-left: 440px;">Logout <i class="icon-power"></i></a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">


      <form action="#" th:action="@{/neft/submitVerifiedFile}"
        th:object="${batchDetail}" method="post">
        <input type="hidden" name="id"
          th:value="${batchDetail.id}" autocomplete="off"/>
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Bulk Transfer</h4>
            <input type="hidden" id="responseMessage"
              th:value="${batchDetail.responseMessage}" />
             


                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>CMB Account</th>
                            <th>CMB Account Name</th>
                            <th>Account Number</th>
                            <th>Beneficiary Name</th>
                            <th>Verified Name</th>
                            <th>Amount(N)</th>
                            <th>Narration</th>
                            <th>Waive Charge</th>
                            <th>Bank</th>
                            <th>Bank Code</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr th:each="detail,iterationStatus  : ${batchDetail.outwardNeftItems}">
                            <td th:text="${detail.accountNo}"></td>
                            <td th:text="${detail.payerName}"></td>
                            <td th:text="${detail.beneficiaryAccountNo}"></td>
                            <td th:text="${detail.beneficiary}"></td>
                            <td th:text="${detail.verifiedName}" style="color: red"></td>
                            <td th:text="${detail.amountStr}"></td>
                            <td th:text="${detail.narration}"></td>
                            <td th:text="${detail.customerWaiveCharge}"></td>
                            <td th:text="${detail.bankName}"></td>
                            <td th:text="${detail.presentingBankSortCode}"></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="form-group">
                      <label for="exampleInputUsername1">Enter Token</label> <input
                        type="text" class="form-control" id="token" name="token"
                        placeholder="Enter Token Here" />
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
					<a href="/payment-portal/neft/bulkUpload"
						class="btn btn-light">Cancel</a>
                  </div>
                </div>
              </div>
              <div class="col-md-8 grid-margin stretch-card"></div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="w-100 clearfix">
            <center>
              <span class=" d-block text-center text-sm-left d-sm-inline-block">Copyright
                © <script>document.write(""+new Date().getFullYear());</script> Coronation Merchant Bank. All rights reserved.</span>
            </center>

          </div>
        </footer>
    <!-- partial -->
  </div>
  <!-- main-panel ends
  </div>-->
  <!-- page-body-wrapper ends
  </div>-->
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="../vendors/js/vendor.bundle.base.js"></script>
  <script src="../vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="../js/template.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="../js/data-table.js"></script>
  <!-- End custom js for this page-->
  <script type="text/javascript">
  var responseMessage = $("#responseMessage").val();
  console.log('responseMessage==',responseMessage);
  if(responseMessage !== ''){
    alert(responseMessage);
  }
    
  </script>
</body>
</html>
